{% extends "/common/layout.html" %}
{% block title %}我的旅途{% endblock %}

{% block head %}
    {{ super() }}
{#    <link rel="stylesheet" href="{{s_domain}}/css/common/subtitle_top.css">#}
{#    <script src="{{ s_domain }}/js/clock.js"></script>#}
    {#<script src="{{ s_domain }}/js/lib/drag/jquery.event.drag-2.2.js"></script>
    <script src="{{ s_domain }}/js/lib/drag/jquery.event.drag.live-2.2.js"></script>
    <script src="{{ s_domain }}/js/bootstrap-alert.js"></script>
    <script src="{{ s_domain }}/js/bootstrap-modal.js"></script>
    <script src="{{ s_domain }}/js/webfont.js"></script>#}

    {{ css('/css/note/font.css') }}
    {{ css('/css/note/index.css') }}
    {{ script('/js/lib/drag/jquery.event.drag-2.2.js') }}
    {{ script('/js/lib/drag/jquery.event.drag.live-2.2.js') }}
    {{ script('/js/bootstrap-alert.js') }}
    {{ script('/js/bootstrap-modal.js') }}
    {{ script('/js/webfont.js') }}
    <script>
        WebFont.load({
            custom: {
                families: ['Reenie Beanie']
            }
        });
    </script>
    {#<link rel="stylesheet" href="{{ s_domain }}/css/note/font.css">
    <link rel="stylesheet" href="{{ s_domain }}/css/note/index.css">#}
{% endblock %}

{% block content %}
    {% include "/common/top.html" with context %}
{#    {% include "/common/subtitle_top.html" with context %}#}
    <div class="container note-body">
        <!-- Button to trigger modal -->
        <ul class="note-ul">
            {%- for note in notes %}
                <li class="note-li drag" style="top: {{ note.y + 82 }}px; left: {{ note.x + 252 }}px; z-index:{{ note.z }}">
                    <div class="a-tab" href="javascript:void(0);">
                        <h2 class="m-title">{{ note.title }}</h2>
                        <img src="{{ s_domain}}/img/pin.png">
                        <p>{{ note.content|truncate(45, True) }}</p>
                        <p class="hide m-content">{{ note.content }}</p>
                        <a class="a-href" href="/note/index?uid={{ note.editor_id }}"><i>{{ note.editor_nickname }}</i></a>
                    </div>

                </li>
            {% endfor -%}
        </ul>
{#        <a href="#add_modal" role="button" class="btn" data-toggle="modal">添加笔记</a>#}
    </div>

    {% include "/note/modal/add.html" with context %}
    {% include "/note/modal/show.html" with context %}

    <script type='text/javascript'>
        $('#add_modal').modal({
            show: {{ 'true' if is_error else 'false' }}
        });
    </script>
{% endblock %}
{%- block  last_script%}
    {{ super() }}
{#    <script src="{{ s_domain }}/js/note/index.js"></script>#}
    {{ script('/js/note/index.js') }}
{% endblock -%}