{% extends "/common/layout.html" %}
{% block title %}工作集中营{% endblock %}

{% block head %}
    {{ super() }}
{#    <link rel="stylesheet" href="{{s_domain}}/css/common/subtitle_top.css">#}
    {{ css('/css/common/subtitle_top.css') }}
{#    <script src="{{ s_domain }}/js/clock.js"></script>#}
    {{ script('/js/clock.js') }}
    {{ css('/css/company/index.css') }}
{% endblock %}

{% block content %}
    {% include "/common/top.html" with context %}
    {% include "/common/subtitle_top.html" with context %}
    <div class="container">
    这里是什么
    </div>
    <script type='text/javascript'>
    </script>
{% endblock %}
