<!-- Modal -->
<div id="show_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="showModalLabel"
     aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="showModalLabel"></h3>
    </div>

    <div class="modal-body">
        <div class="control-group">
            <div class="controls" id="showContent" >
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    </div>
</div>