{% extends "/common/layout.html" %}
{% block title %}我的地盘{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{s_domain}}/css/common/subtitle_top.css">
    <link rel="stylesheet" href="{{s_domain}}/css/user/detail.css">
{% endblock %}

{% block content %}
    {% include "/common/top.html" with context %}
    {% include "/common/subtitle_top.html" with context %}
    <div class="container">
    这里是什么
    </div>
    <script type='text/javascript'>
    </script>
{% endblock %}
