{% extends "/common/layout.html" %}
{% block title %}注册{% endblock %}

{% block head %}
    {{ super() }}
    {#<link rel="stylesheet" href="{{s_domain}}/css/common/subtitle_top.css">
    <script src="{{ s_domain }}/js/clock.js"></script>
    <link rel="stylesheet" href="{{s_domain}}/css/user/base.css">
    <link rel="stylesheet" href="{{s_domain}}/css/user/register.css">
    <script src="{{ s_domain }}/js/bootstrap-alert.js"></script>
    <script src="{{ s_domain }}/js/user/register.js"></script>#}

    {{ css('/css/common/subtitle_top.css') }}
    {{ css('/css/user/base.css') }}
    {{ css('/css/user/register.css') }}
    {{ script('/js/clock.js') }}
    {{ script('/js/bootstrap-alert.js') }}
    {{ script('/js/user/register.js') }}
{% endblock %}

{% block content %}
    {% include "/common/top.html" with context %}
    {% include "/common/subtitle_top.html" with context %}
    <div class="container">

        <form class="form-horizontal mt40" method="post" action="/u/register.post">
            {{ form.csrf_token }}
            <div class="control-group">
                {{ form.email.label(class="control-label tip") }}
                <div class="controls">
                    {{ form.email(id="inputEmail", placeholder="邮箱") }}
                    {% if form.email.errors %}
                        <div class="alert alert-error">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            <ul>{% for error in form.email.errors %}
                                <li>{{ error }}</li>{% endfor %}</ul>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="control-group">
                {{ form.password.label(class="control-label tip") }}
                <div class="controls">
                    {{ form.password(id="inputPassword", placeholder="密码") }}
                    {% if form.password.errors %}
                        <div class="alert alert-error">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            <ul>{% for error in form.password.errors %}
                                <li>{{ error }}</li>{% endfor %}</ul>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="control-group">
                {{ form.confirm.label(class="control-label tip") }}
                <div class="controls">
                    {{ form.confirm(id="confirmPassword", placeholder="确认密码") }}
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="reset" class="btn">取消</button>
                    <button type="submit" class="btn">注册</button>
                    <a href="/u/login">返回登录</a>
                </div>
            </div>
        </form>
    </div>
    <script type='text/javascript'>
    </script>
{% endblock %}