{% extends "/common/layout.html" %}
{% block title %}我的旅途{% endblock %}

{% block head %}
    {{ super() }}
    {#<link rel="stylesheet" href="{{ s_domain }}/css/lib/jquery-confirm/jquery.confirm.css">
    <link rel="stylesheet" href="{{s_domain}}/css/lib/bootstrap-datepicker/datepicker.css">
    <link rel="stylesheet" href="{{s_domain}}/css/lib/bootstrap-switch/bootstrap-switch.css">
    <link rel="stylesheet" href="{{s_domain}}/css/common/subtitle_top.css">
    <script src="{{ s_domain }}/js/clock.js"></script>
    <link rel="stylesheet" href="{{s_domain}}/css/user/base.css">
    <link rel="stylesheet" href="{{s_domain}}/css/user/work.css">
    <script src="{{ s_domain }}/js/bootstrap-alert.js"></script>
    <script src="{{ s_domain }}/js/bootstrap-modal.js"></script>

    <script src="{{ s_domain }}/js/lib/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script src="{{ s_domain }}/js/lib/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.js"
            charset="UTF-8"></script>

    <script src="{{ s_domain }}/js/lib/jquery-confirm/jquery.confirm.js"></script>#}

    {{ css('/css/lib/jquery-confirm/jquery.confirm.css') }}
    {{ css('/css/lib/bootstrap-datepicker/datepicker.css') }}
    {{ css('/css/lib/bootstrap-switch/bootstrap-switch.css') }}
    {{ css('/css/common/subtitle_top.css') }}
    {{ css('/css/user/base.css') }}
    {{ css('/css/user/work.css') }}
    {{ script('/js/clock.js') }}
    {{ script('/js/bootstrap-alert.js') }}
    {{ script('/js/bootstrap-modal.js') }}
    {{ script('/js/lib/bootstrap-datepicker/bootstrap-datepicker.js') }}
    {{ script('/js/lib/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.js', charset="UTF-8") }}
    {{ script('/js/lib/jquery-confirm/jquery.confirm.js') }}
{% endblock %}

{% block content %}
    {% include "/common/top.html" with context %}
    {% include "/common/subtitle_top.html" with context %}
    <div class="container">
        <!-- Button to trigger modal -->
        <a href="#add_modal" role="button" class="btn" data-toggle="modal">添加工作经历</a>
        {% from "/user/module/introduce.html" import introduce %}
        {%- for w in works %}
            {{ introduce(w) }}
        {% endfor -%}
    </div>

    {% include "/user/modal/add-work.html" with context %}

    <script type='text/javascript'>
        $('#add_modal').modal({
            show: {{ 'true' if is_error else 'false' }}
        });
    </script>
{% endblock %}
{%- block  last_script%}
    {{ super() }}
    {#<script src="{{ s_domain }}/js/lib/bootstrap-switch/bootstrap-switch.js"></script>
    <script src="{{ s_domain }}/js/user/work.js"></script>#}
    {{ script('/js/lib/bootstrap-switch/bootstrap-switch.js') }}
    {{ script('/js/user/work.js') }}
{% endblock -%}